@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.meLink {
  color: white;
}

.backwards {
  position: absolute;
  right: 20px;
  display: inline;
  -moz-transform: scale(-1, -1);
  -webkit-transform: scale(-1, -1);
  -o-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
}

#cardNumber {
  font-size: 100px;
}
